<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>

</head>

<body>
<div id="root" class="container">
	<div class="row">
		<div class="twelve columns">
			<h4>Login</h4>
			<div class="six columns align-center">	
				<label for="username">Username</label>
				<input v-model="username" class="u-full-width" type="text">
				<label for="password">Password</label>
				<input v-model="password" class="u-full-width" type="text">
				<input class="u-full-width button-primary" type="submit" v-on:click="login">
			</div>
		</div>	
	</div>
</div>
</body>
<div th:replace="fragments/footer :: foot"></div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>

<script>
	var app = new Vue({
		el:"#root",
		data:{
			username: "",
			password: ""
		},
		methods:{
			login(){
				const user = {username:this.username,password:this.password};
				axios.post("/login",user).then(function(response){
					sessionStorage.setItem("Coockie",response.headers["authorization"]);
					document.location.replace("/");
				});
			}
		}
	})

</script>

</html>